{% extends "base.html" %}

{% block head %}
	{{parent()}}
	<!--ACA PODEMOS AGREGAR .css o .JS especiales para la seccion home en particular-->
	<link rel="stylesheet" href="css/noticias.css">
{% endblock %}


{% block contenido %}
    <h2>SEND YOUR COMMENTS HERE</h2>
    
    {% if logged %}
	    <form method="post" action="./index.php?seccion=noticias&amp;agregar=ok">
	    	<input id="titulo" type="text" name="titulo" placeholder="TITLE">
	    	<textarea id="texto" name="texto" placeholder="YOUR COMMENT"></textarea>
	    	<input id="agregar" type="submit" value="SEND">
	    </form>
	{% else %}
		<div>YOU NEED BE LOGGED FOR SEND COMMENTS</div>
	{% endif %}
{% endblock %}