{% extends "base.html" %}

{% block head %}
  {{parent()}}
  <!--ACA PODEMOS AGREGAR .css o .JS especiales para la seccion home en particular-->

{% endblock %}


{% block contenido %}
    <h1 class="titulo">RISE OF MACHINES</h1>
    <p class="parrafo">The game's main setting is an immense, futuristic city called Alpha Complex. Alpha Complex is controlled by The Computer, a civil service AI construct (a literal realization of the "Influencing Machine" that some schizophrenics fear). The Computer serves as the game's principal antagonist, and fears a number of threats to its 'perfect' society, such as The Outdoors, mutants, and secret societies (especially Communists). To deal with these threats, The Computer employs Troubleshooters, whose job is to go out, find trouble, and shoot it. Player characters are usually Troubleshooters, although later game supplements have allowed the players to take on other roles.

The player characters frequently receive mission instructions from the Computer that are incomprehensible, self-contradictory, or obviously fatal if adhered to, and side-missions which conflict the main mission. They are issued equipment that is uniformly dangerous, faulty or "experimental" (i.e. almost certainly dangerous and faulty). Additionally, each player character is generally an unregistered mutant and a secret society member, and has a hidden agenda separate from the group's goals, often involving stealing from or killing teammates. Thus, missions often turn into a comedy of errors, as everyone on the team seeks to double-cross everyone else while keeping their own secrets. The game's manual encourages suspicion between players, offering several tips on how to make the gameplay as paranoid as possible.

Every player's character is assigned six clones, known as a "six-pack," which are used to replace the preceding clone upon his or her death. The game lacks a conventional health system; most wounds the player characters can suffer are assumed to be fatal. As a result, Paranoia allows characters to be routinely killed, yet the player can continue instead of leaving the game. This easy spending of clones tends to lead to frequent firefights, gruesome slapstick, and the horrible yet humorous demise of most if not all of the player character's clone family. Additional clones can be purchased if one gains sufficient favour with the Computer.</p>
{% endblock %}