{% extends "base.html" %}

{% block contenido %}
		<div id='title'><h1>USERS</h1></div>
		
		{% if msg %}
			<div class="alert alert-warning">
				{{ msg }}
			</div>
		{% endif %}

		{% if agregar %}

			{% if not logged %}
		    <form method="post" action="./index.php?seccion=usuarios&amp;agregar=si">
		    	<input id="nick" type="text" name="nick" placeholder="USER" >
		    	<input id="pass" type="password" name="pass" placeholder="PASSWORD">
		    	<input id="role" type="text" name="role" placeholder="CHARACTER NAME" >
		    	<input id="agregar" name="submit" type="submit" value="CREATE">
	    	</form>
	    	{% endif %}

		{% else %}
			{% if not logged %}
			<div class="btn pull-right"'><a href="./index.php?seccion=usuarios&amp;agregar=si"><h2>CREATE AN ACCOUNT</h2></a></div>
			{% endif %}
		{% endif %}
		{% if users %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>USER</th>
						<th>CHARACTER</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td> {{ user.nick}} </td>
							<td> {{ user.rol }} </td>
							{% if logged %}
								<td><a class="btn btn-warning" href="./index.php?seccion=usuarios&amp;eliminar={{ user.id }}">DESTROY</a></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
{% endblock %}